.git
.idea

# Node
node_modules/
/desktop/node_modules
/admin-api/node_modules
/admin-api/electron/node_modules
/admin-api/renderer/node_modules
/admin-api/*/dist
/admin-api/*/build
/admin-api/out

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron build output
dist/
out/
release/
build/

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/backend/AudienceStream.Api/Folder.DotSettings.user
/backend/AudienceStream.Api/bin/
